{% extends 'base.html.twig' %}

{% block title %}Votre compte{% endblock %}

{% block body %}
<main  class="container mx-auto p-2 text-center" style="width: 90%;border:solid black 1px;">


    <h1>Bonjour {{ user.firstName }} {{ user.lastName}}</h1>
  
        
            <a href="{{path('app_profile_update')}}" class="btn" style="width: 200px;border:solid black 1px;" aria-label="Mon profil">Mon profil</a>
            <a href="#" class="btn" style="width: 200px;border:solid black 1px;" aria-label="Mes formations">Mes formations</a>
            <a href="#" class="btn" style="width: 200px;border:solid black 1px;" aria-label="Mes certifications">Mes certifications</a>
   

    
</main>
{% endblock %}
