{% extends 'base.html.twig' %}

{% block title %}Knowledge Learning{% endblock %}

{% block body %}
<main class="container">
<h1 class="text-center mt-5 mb-5" style="color:#00497c;">Bonjour cher visiteur</h1>
<p class="text-center mt-5 mb-5 mx-auto" style="width:85%;font-size:20px;color:#384050;">Notre société est spécialisée dans l'édition de livres de formation. Nous souhaitons aujourd'hui vous proposer notre expertise grâce à des formations en e-Learning
pour vous permettre de d'étudier tranquillement chez vous, en toute autonomie.</p>
<p class="text-center mt-5 mb-5 mx-auto" style="width:85%;font-size:15px;color:#384050;">Pour profiter de nos offres, il est nécessaire de
    <a href="{{path('app_register')}}" style="font-size:20px;color:#384050;font-weight:bold;" aria-label="S'inscrire">s'inscrire</a> et de <a href="{{path('app_login')}}" style="font-size:20px;color:#384050;font-weight:bold;" aria-label="Se connecter">se connecter</a>.</p>
</main>
{% endblock %}



              
