{% extends 'base.html.twig' %}

{% block title %}Administration{% endblock %}

{% block body %}
<main  class="container mx-auto p-2 text-center">

    <section class=" container text-center mt-5 mb-5" style="color:#00497c;">
    <h1>Détails de la commande n° {{ order }}</h1>
     </section>

   <div class="container"  style="color:#384050;">
    
        <table  class="table mb-5">
        <thead>
            <tr>
            <th scope="col"  style="color:#82b864;font-size:20px;width:50%;">Formation</th>
            <th scope="col"  style="color:#82b864;font-size:20px;width:50%;">Prix</th>
            
            </tr>
        </thead>
        <tbody>
        {% for learningContent in learningContents %}
            <tr>
           
            
            <th scope="row" style="color:#384050;">{{ learningContent.learning }}</th>
            
            <th scope="row" style="color:#384050;">{{ learningContent.price }} €</th>
            
 
            </tr>
        {% endfor %}
        </tbody>
        </table>

    </div>
            
   

    
</main>
{% endblock %}
