{% extends 'base.html.twig' %}

{% block title %}Hello BoughtLessonController!{% endblock %}

{% block body %}


<main  class="container mx-auto p-2 text-center" style="width: 90%;border:solid black 1px;">
   <h1>Félicitations {{ user.firstName }} {{ user.lastName}}</h1>
   
        <h2>La leçon "{{ lessonValidatedData.name }}" est validée!!!!!</h2>
        <a href="{{path('app_profile_learnings')}}" class="btn" style="width: 200px;border:solid black 1px;">Retour à mes formations</a>
   

</main>
{% endblock %}
