{% extends 'base.html.twig' %}

{% block title %}Boutique{% endblock %}

{% block body %}
{% if app.user%}
{% else %}
<p class="text-center border border-warning" style="width: 80%;color:#cd2c2e;">Pour effectuer des achats, vous devez créer un compte.</p>
{% endif %}

{% if app.user %}
<section class=" container text-center mt-5 mb-5" style="color:#00497c;">
    <h1>Bonjour {{ user.firstName }} {{ user.lastName}}</h1>
</section>
{% endif %}

<section class="container mx-auto p-2 text-center" style="width: 80%;margin-bottom:30px;">
    <h2 style="margin-bottom:30px;color:#82b864;">Voici nos thèmes</h2>
    <div class="row mx-auto gy-5">
        {% for thema in themas|sort((a, b) => a.name <=> b.name) %}
            <div class="col-md-4 d-flex justify-content-center">
                    <div class="card" style="width: 18rem; height: 10rem; background-color:#00497c">
                    <div class="card-body" style="padding-top:40px;">
                        <h5 class="card-title" style="color:#f1f8fc;">{{thema.name}}</h5>
                        <a href="{{path('app_learning_cursus', {id:thema.id})}}"  class="btn" aria-label="Consulter" >Consulter</a>
                    </div>
                    </div>
            </div>
        {% endfor %}

    </div>
    

</section>
{% endblock %}
