<h1>Activation de votre compte sur Knowledge Learning</h1>
<p>Bonjour {{user.firstName}} {{user.lastName}}</p>
<p>Pour activer votre compte et effectuer des achats sur notre plateforme, cliquez sur ce lien: <a href="{{absolute_url(path('app_activate_user',{token:token}))}}">Activez votre compte</a></p>
<p>Ce lien expirera dans 3 heures.</p>
<p>Bienvenu dans la communauté Knowledge Learning!</p>